:root {
  --main-color: #1566C0;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;

  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    font-family: 'Righteous', cursive;
  }
}

main {
  margin: 0;
}

$card-images: (
  1: '1.webp',
  2: '2.webp',
  3: '3.webp',
  4: '4.webp',
  5: '5.webp',
  6: '6.webp',
);







// Cursor Follower
.cursor-follower {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 4px solid #8fc48c;
  pointer-events: none; 
  transform: translate(-50%, -50%); 
  transition: background-color 0.3s ease, transform 0.1s ease;
  z-index: 9999; 
}

.cursor-follower:hover {
  transform: translate(-50%, -50%) scale(1.2); 
  background-color: #1566c0; 
}




.header {
  width: 100vw; 
  height: 105vh;
  background: url(../public/media/Header-main.webp) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.text-header {
  font-size: 22px !important;
}

.fixed-text-header {
  position: fixed;
}

.fixed-text-header-top {
  top: 47vh;
  left: 4vw;
}

.fixed-text-header-middle {
  top: 59vh;
  left: 5vw;
}

.fixed-text-header-bottom {
  top: 63vh;
  left: 6vw;
}

.waves {
  position: absolute;
  width: 100vw;
  height: 105vh;
  top: 0;
  left: 0;
  background: 
    linear-gradient(black 10%, rgba(0, 0, 0, 0) 80%), 
    url(../public/media/wave2.svg); 
  background-position: top 0 left 0, bottom calc(0vh - 8vw) left 0, bottom calc(3vh - 8vw) left 0; 
  background-repeat: no-repeat;
  background-size: 100%;
}

.titles {
  position: relative;
  top: 15em;
  left: 2em;

  > h1 {
    font-size: 110px;
    color: white;
  }

  > h2 {
    font-size: 28px;
    color: white;
    font-family: inherit;
    font-weight: 400;
  }
}

.btn-custom {
  border: 0;
  width: 200px;
  height: 60px;
  margin-top: 6vh;
  font-size: 28px;
  font-weight: 500;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card-section {
  &-title {
    font-size: 50px;
    color: #68c862;
  }

  &-text {
    font-family: inherit;
    color: grey;
    font-size: 20px !important;
    font-weight: 500;
  }
}

.card {
  @each $number, $image in $card-images {
    &-#{$number} {
      background: 
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)),
        url(../public/media/#{$image});
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  &-text {
    font-size: 16px !important;
    padding: 2em 2em 0 2em;
  }

  &-skin {
    
    &:hover {
      transform: translateY(-10px);
      box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
    }
  }
}


@media (max-width: 1700px) {
  .card-title {
    > h2 {
      font-size: 20px !important;
    }
  }

  .card-text {
    > p {
      font-size: 15px !important;
      padding: 1em !important;
    }
  }
}

@media (max-width: 1624px) {
  .card-title {
    > h2 {
      font-size: 18px !important;
    }
  }

  .card-text {
    > p {
      font-size: 14px !important;
      padding: 0.5em 0.5em 1em 0.5em !important;
    }
  }

  .card-skin {
    width: 100%;
    min-width: 280px !important; 
  }
}

@media (min-width: 1190px) and (max-width: 1525px) {
  .card-title {
    > h2 {
      font-size: 17px !important;
    }
  }

  .card-text {
    > p {
      font-size: 13px !important;
      padding: 0.5em 0.5em 1em 0.5em !important;
    }
  }
}

.icons-section {
  margin-top: 10em;
}

.owner-info-title {
  font-size: 20px;
  color: var(--main-color)
}


/* Classe per rendere le immagini circolari */
.circular-image {
  width: 400px; /* Imposta la larghezza desiderata */
  height: 400px; /* Imposta l'altezza desiderata */
  border-radius: 50%;
  object-fit: cover; /* Assicura che l'immagine riempia il contenitore senza distorsioni */
  border: 2px solid #fff; /* Opzionale: aggiungi un bordo bianco per un effetto migliore */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Opzionale: aggiungi un'ombra per profondità */
}


.infocard {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  padding: 2em;

  &-title {
    color: #68c862;
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 500;
  }

  &-text {
    color: grey;
    font-size: 24px;
    font-weight: 400;
  }

  &-icons-container {
    margin-left: auto;
  }

  &-icon-box, &-icon-full-boxes {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &-icon-box {
    padding: 1em;
  }

  &-icon {
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
    padding: 2em;
    width: min-content;
    font-weight: normal;
  }
}

.widget-wrapper {
  display: block;
  margin: 10vh 0;

  @media (max-width: 1250px) {
    margin-top: 30vh;
  }

  @media (max-width: 1250px) {
    margin-top: 15vh;
  }
}

.widgets-section {
  height: 80vh;
  padding: 10vh 0;
}

.widget {
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  padding: 2em;
  font-weight: normal;
  border-radius: 20px;

  &-title > h2 {
    font-size: 55px;
    font-weight: 600;

    @media (max-width: 1400px) {
      font-size: 35px;
      font-weight: 500;
    }

    @media (max-width: 1150px) {
      font-size: 27px;
      font-weight: 500;
    }
  }

  &-text {
    font-size: 26px;
    font-weight: 500;

    @media (max-width: 1400px) {
      font-size: 17px;
      font-weight: 400;
    }

    @media (max-width: 1150px) {
      font-size: 15px;
      font-weight: 400;
    }
  }

  @media (max-width: 1150px) {
    min-width: 170px !important;
  }
}

.margin-custom-bottom-section {
  margin-top: 100px !important;
}

.loc-img-round {
  border-radius: 50%;
  border: 7px solid var(--main-color);
  padding: 10px;
}

.loc-desc-infocard {
  border-radius: 20px;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
  padding: 2em;

  &-title {
    color: var(--main-color);
    font-size: 40px;
    padding-bottom: 10px;
    font-weight: 500;
    margin-bottom: 0;
  }

  &-text {
    color: grey;
    font-size: 28px;
    font-weight: 500;
  }
}

.timeline-section {
  margin-top: 6em;
}

.timeline-element {
  position: relative;
  border-color: var(--main-color) !important;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -30px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 4px solid var(--main-color);
    background: white;
  }
}

.timeline-title {
  color: var(--main-color);
  font-size: 40px;
  padding-bottom: 10px;
  font-weight: 600;
  margin-bottom: 0;
}

.timeline-text {
  color: grey;
  font-size: 28px;
  font-weight: 400;
}

.btn-custom-sub {
  border: 0;
  width: 260px;
  height: 60px;
  margin-top: 2vh;
  font-size: 28px;
  font-weight: 500;
  background-color: var(--main-color);
  color: white;
  vertical-align: middle;
}

.footer {
  height: 90vh;
  width: 100%;
  background: 
    linear-gradient(white 5%, rgba(0,0,0,0.3) 60%, rgba(0,0,0,0.8) 80%),
    url(../public/media/footer.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center, bottom;
  margin: 0;

  &-container {
    background: linear-gradient(rgba(0,0,0,0.2) 10%, var(--bgcolor));
    padding: 2em 3em;
  }

  &-title {
    font-weight: 500;
    font-size: 40px;
    color: #fff;

    @media (max-width: 1600px) {
      font-size: 26px;
    }

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  &-icon-social {
    font-size: 18px !important;
  }

  &-text {
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 17px;
    color: #fff;

    @media (max-width: 1600px) {
      font-size: 15px;
      font-weight: 400;
    }

    @media (max-width: 1200px) {
      font-size: 14px;
      font-weight: 300;
    }
  }

  &-socials {
    a {
      color: white;
      transition-duration: 0.2s;
      transition-timing-function: ease-in-out;

      &:hover {
        transform: scale(1.2);
        filter: drop-shadow(0 0 10px white);
      }
    }
  }
}





 




/* ContactUs.scss */

// Variabili per i colori
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;
$overlay-bg: rgba(0, 0, 0, 1);
$border-radius: 8px;

// Mixin per centratura
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Barra ContactUs
.contact-us-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $overlay-bg;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;

  &.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .logo-container {
    img {
      height: 40px;
      width: auto;
    }
  }

  .contact-button {
    background-color: #76b073; // Verde acqua
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;

    &:hover {
      background-color: darken(#28a745, 10%);
      transform: scale(1.05);
    }
  }
}

// Modal Overlay
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $overlay-bg;
  @include center-flex;
  z-index: 1001;
  animation: fadeIn 0.3s ease;
}

// Modal Content
.modal-content {
  background: #fff;
  padding: 20px 30px;
  border-radius: $border-radius;
  width: 90%;
  max-width: 500px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: slideIn 0.3s ease;

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2 {
      margin: 0;
      font-size: 1.5rem;
    }

    .close-button {
      background: transparent;
      border: none;
      font-size: 1.5rem;
      cursor: pointer;
      color: $secondary-color;

      &:hover {
        color: darken($secondary-color, 10%);
      }
    }
  }

  .modal-body {
    form {
      .form-group {
        margin-bottom: 15px;

        label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold;
        }

        .input-style {
          width: 100%;
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 4px;
          transition: border-color 0.3s ease;

          &:focus {
            border-color: $primary-color;
            outline: none;
          }
        }
      }

      .form-actions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        .send-button {
          background-color: $primary-color;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($primary-color, 10%);
          }
        }

        .cancel-button {
          background-color: $secondary-color;
          color: #fff;
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s ease;

          &:hover {
            background-color: darken($secondary-color, 10%);
          }
        }
      }
    }
  }
}

// Animazioni
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}



/* AlertSuccess.scss */
.alert-success {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #28a745; // Verde di successo
  color: #fff;
  padding: 15px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  z-index: 1002;
  opacity: 0.9;
  transition: opacity 0.3s ease, transform 0.3s ease;

  &.fade-out {
    opacity: 0;
    transform: translateY(20px);
  }
}










// Animazione per il contenuto del modal
@keyframes slide-down {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

// Media Query per dispositivi più piccoli
@media (max-width: 600px) {
  .modal-content {
    width: 95%;
  }

  .contact-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

/* Card custom SCSS */

.card-skin {
  position: relative; 
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.15));
    transform: skewX(-25deg);
    transition: left 0.7s ease;
  }

  &:hover::before {
    left: 125%;
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-icon {
  font-size: 1.3rem;
  color: #91c68e;
  margin-top: 20px;
}

.card-title {
  h2 {
    font-size: 1.25rem;
    text-align: center;
    color: #ffffff;
    margin-top: 15px;
  }
}

.card-text {
  text-align: center;
  font-size: 1rem;
  color: #d4d4d4;
}

.alert-success {
  position: fixed;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #227134;
  color: #fff;
  border-radius: 5px;
  padding: 1rem 3rem;
  z-index: 1000;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  text-align: center;
}

/* Stili per dispositivi piccoli */
@media (max-width: 768px) {
  .card-section-title {
    font-size: 2rem;
  }

  .card-section-text {
    font-size: 1rem;
  }

  .card-title {
    h2 {
      font-size: 1.5rem;
    }
  }

  .card-text {
    font-size: 1rem;
  }

  .card-skin {
    width: 90vw;
  }

  .titles {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .infocard-title {
    font-size: 2rem; // Circa 32px
  }

  .infocard-text {
    font-size: 1.125rem; // Circa 18px
  }
}

@media (max-width: 500px) {
  .card-section-title {
    font-size: 2.3rem;
  }

  .align-small-devices {
    margin: auto;
  }

  .card-section-text {
    font-size: 1.3rem;
  }

  .card-title {
    h2 {
      font-size: 1.4rem;
    }
  }

  .card-text {
    font-size: 1rem;
  }

  .card-skin {
    max-width: 300px;
  }

  main {
    margin: auto;
  }

  .icons-section {
    margin: auto;
  }

  .icons-maring-small-devices {
    margin: 0 2.5em;
  }

  .sm-device {
    margin: auto;
    width: 100%;
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  .card-section-title {
    font-size: 3rem;
  }

  .card-section-text {
    font-size: 1.6rem;
  }

  .card-title {
    h2 {
      font-size: 1.6rem;
    }
  }

  .card-text {
    font-size: 1.3rem;
  }

  main {
    margin: 0 10em;
  }

  .infocard-title {
    font-size: 2.5rem; // Circa 40px
  }

  .infocard-text {
    font-size: 1.25rem; // Circa 20px
  }
}

.small-title-device {
  color: #7ece7a !important;
}

@media (max-width: 400px) {
  .small-title-device {
    font-size: 45px !important;
    margin-bottom: 35px;
  }
}

@media only screen and (min-width: 400px) and (max-width: 500px) {
  .small-title-device {
    font-size: 60px !important;
    margin-bottom: 35px;
  }
}

@media (min-width: 501px) {
  .small-title-device {
    font-size: 70px !important;
    margin-bottom: 35px;
  }
}

@media (min-width: 751px) {
  .small-title-device {
    font-size: 85px !important;
    white-space: nowrap;
    margin-bottom: 35px;
  }
}

@media (min-width: 1120px) {
  .small-title-device {
    font-size: 100px !important;
    white-space: nowrap;
    margin-bottom: 35px;
  }
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-responsive-hero {
  margin: 6px;
}

@media (max-width: 991px) {
  .card-responsive-hero {
    margin: 20px;
    width: 70vw;
  }
}



/* global.scss */

/* =========================
   Personalizzazione Scrollbar
   ========================= */

/* Variabili per i colori e le dimensioni della scrollbar */
$scrollbar-width: 8px;
$scrollbar-thumb-color: rgba(0, 0, 0, 0.5);
$scrollbar-thumb-hover-color: rgba(0, 0, 0, 0.7);
$scrollbar-track-color: transparent;

/* -------------------------
   Personalizzazione per WebKit (Chrome, Safari, Edge)
   ------------------------- */
::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $scrollbar-width;
}

::-webkit-scrollbar-track {
  background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
  background-color: $scrollbar-thumb-color;
  border-radius: $scrollbar-width;
  border: 2px solid $scrollbar-track-color; /* Crea uno spazio attorno al thumb */
  opacity: 0; /* Nasconde la scrollbar di default */
  transition: opacity 0.3s ease, background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $scrollbar-thumb-hover-color;
  opacity: 1; /* Mostra la scrollbar al passaggio del mouse */
}

/* Mostra la scrollbar quando si passa il mouse sul body */
body:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}

/* -------------------------
   Personalizzazione per Firefox
   ------------------------- */
body {
  scrollbar-width: thin; /* Opzioni: auto, thin, none */
  scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
  transition: scrollbar-color 0.3s ease;
}

body:hover {
  scrollbar-color: $scrollbar-thumb-hover-color $scrollbar-track-color;
}
